<div class="col s12 m12 l12">
    <div class="row">
        <h4>Customer Maintenance Application</h4>
    </div>
    <div class="col s12 m6">
        <h5 class="promo-caption">New Customer</h5>
        <p>Create new customer entities and save them to the datastore for use on connected applications.</p>
        <a id="new-csutomer" class="btn waves-effect waves-light" href="#/customer/new">New Customer<i class="material-icons right">assignment_ind</i></a>
    </div>
    <div class="col s12 m6">
        <h5 class="promo-caption">Maintain Customer</h5>
        <p>When you need to amend customer or contact details, use this application to get those details updated.</p>
        <a id="maintain-csutomer" class="btn waves-effect waves-light" href="#/customer/maintain">Maintain Customer<i class="material-icons right">mode_edit</i></a>
    </div>
    <div class="col s12 m6">
        <h5 class="promo-caption">Search Customer</h5>
        <p>Find that customer by searching using a variety of attributes or meta data then use that customer in your business pipeline.</p>
        <a id="search-csutomer" class="btn waves-effect waves-light" href="#/customer/search">Search Customer<i class="material-icons right">search</i></a>
    </div>
</div>
